<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ section.title | safe }}</title>
  <link rel="stylesheet" href="/simple.min.css?hash={{ get_file_hash(path='static/simple.min.css', sha_type=256) }}">
  <link rel="stylesheet" href="/styles.css?hash={{ get_file_hash(path='static/styles.css', sha_type=256) }}">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        <img src="/delightful-logo.png" alt="delightful, gems of freedom" class="header">
      </h1>
      
      <h2>Delightful lists</h2>
      
      <ul>
        {% for page in section.pages %}
        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
        
      {{ section.content | safe }}
  </section>
  <footer>
    <p>
      Last updated: {{ now() | date(format="%Y-%m-%d %H:%M") }} UTC
    </p>
    <p>
      Made with ❤️ by <a href="https://yarmo.eu">Yarmo Mackenbach</a>.<br>
      Source code: <a href="https://codeberg.org/yarmo/delightful-club">codeberg.org</a>. License: <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0-1.0</a>.
    </p>
  </footer>
</body>

</html>