<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | safe }}</title>
  <link rel="stylesheet" href="/simple.min.css?hash={{ get_file_hash(path='static/simple.min.css', sha_type=256) }}">
  <link rel="stylesheet" href="/styles.css?hash={{ get_file_hash(path='static/styles.css', sha_type=256) }}">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <meta property="og:title" content="{{ page.title | safe }}" />
  <meta property="og:description" content="Delightful curated lists of free software, open science and information sources." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://delightful.club/{{ page.slug | safe }}" />
  <meta property="og:image" content="https://delightful.club/delightful-logo.png" />
  <meta name="twitter:card" content="summary_large_image"></meta>
  <meta name="twitter:author" content="@humane_tech_now"></meta>
  <meta name="twitter:dnt" content="on">
</head>

<body>
  <section class="section">
    <div class="container">
      <nav>
        <a href="/">Back to the index</a>
        <a href="{{ page.extra.repository | safe }}">Source repository</a>
      </nav>
      {{ page.content | safe }}
    </div>
  </section>
  <footer>
    <p>
      Last updated: {{ now() | date(format="%Y-%m-%d %H:%M") }} UTC
    </p>
    <p>
      The content above comes from the <a href="{{ page.extra.repository | safe }}">{{ page.title | safe }}</a> repository.
    </p>
  </footer>
</body>

</html>